{{ attach_library('core/jquery') }}
{{ attach_library('udn_login/login-page') }}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Material Design Login Form</title>
  <css-placeholder token="{{ placeholder_token|raw  }}">
  <js-placeholder token="{{ placeholder_token|raw }}">
</head>

<body>
  <hgroup>
    <h1>聯合報系內容管理平台</h1>
    <h3>by udnDrupalTeam</h3>
  </hgroup>

  {{ html.page }}

  <footer><a href="http://www.udndigital.com.tw/" target="_blank"><img src="https://uknowiknow.s3.amazonaws.com/uploads/user/avatar/8856/Logo_udn.png"></a>
    <p>You Gotta Love <a href="http://www.udndigital.com.tw/" target="_blank">udnDigital</a></p>
  </footer>

  <js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
</html>
